div{
    font-size: 25px;

    color: black;
    background-color: tomato;

    margin: 50px;
    border: 5px solid rgb(102, 194, 222);
    padding: 20px;

    border-radius: 10px;


    text-align: justify;

}

img{
    height: 400px;
    width: 600px;
}

audio{
    width: 300px;
}

video{
    width: 300px;
}
iframe{
    width: 300px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}